/*** RESET ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*** GLOBAL ***/

body {
  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}



/*** HEADER ***/

header .container {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
}



/*** MAIN ***/

main {
  background-color: #000000;
  color: #ffffff;
}

main h2 {
  /* color: #ffffff; */
  font-size: 40px;
  padding: 40px 0;
}



/*** FOOTER ***/

footer {
  color: #ffffff;
}

footer .upper {
  background-color: #0282f9;
}

footer .central {
  background-image: url('./assets/images/footer-bg.jpg');
  background-size: cover
}

footer .bottom {
  background-color: #303030;
}