/*** RESET ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*** GLOBAL ***/

body {
  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}



/*** HEADER ***/

header {
  height: 120px;
}

header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 80px;
  height: 80px;
}

.menu {
  display: flex;
  height: 100%;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: 5px solid rgba(0, 0, 0, 0);
}

.menu a:hover {
  border-bottom: 5px solid #0282f9;
  color: #0282f9;
}



/*** MAIN ***/

main {
  background-color: #000000;
  color: #ffffff;
}

main .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 190px;
}

.card-img {
  max-width: 100%;
  max-height: 190px;
}

.card-img img {
  height: 190px;
  width: 190px;
  object-fit: cover;
  object-position: top;
}



/*** FOOTER ***/

footer {
  color: #ffffff;
}

footer .upper {
  background-color: #0282f9;
  padding: 50px 0;
}

footer .upper ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .upper a>* {
  display: inline-block;
  vertical-align: middle;
  padding: 0 8px;
}

footer .upper p {
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
}

footer .upper img {
  height: 55px;
}

footer .upper li:last-child img {
  height: 35px;
}

footer .central {
  background-image: url('./assets/images/footer-bg.jpg');
  background-size: cover
}

footer .bottom {
  background-color: #303030;
}